<footer class="footer">
  <!-- Писати розмітку всередині цього тегу -->
  <div class="container footer__container">
    <span class="footer__text">
      <span class="footer__copyright">&#169;</span>
      <span class="footer__element footer__element--pseudo">2023</span>
      <span class="footer__element footer__element--pseudo"
        >All Rights Reserved</span
      >
      <span class="footer__element">Developed with</span>
      <span class="footer__svg">
        <svg class="footer__svg" width="14" height="13">
          <use href="./images/svg-sprite.svg#love"></use>
        </svg>
      </span>
      <span>by <a class="footer__link" href="#">GoIT Students</a></span>
    </span>
  </div>
</footer>
