<main class="main">
  <div class="main__container">
    <button type="button" class="test__modal__film">test modal film</button>
    <button type="button" class="test__modal__team">test modal team</button>

    <ul class="main__list"></ul>

    <!-- Додати розмітку для пагінації -->
    <div id="tui-pagination-container" class="tui-pagination"></div>
  </div>

  <!-- Spinner -->
  <div class="spinner visually-hidden">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</main>
