<!-- Люда Даценко та Тетяна Крамаренко -->


<div class="overlay" data-modal>
  <div class="modal_card">
 <button class="modal_close" type="button" data-modal-close>X</button>
<!-- іконка прозора -->
 <!-- <button class="modal_close" type="button" data-modal-close>  -->
      <!-- <svg width="30" height="30">  -->
        <!-- <use href="./images/svg-sprite.svg#close"></use> -->
      <!-- </svg> -->
      <!-- </button>    -->
  </div> 
 <!-- <div class="modal_team">
  <button class="modal_close" type="button" data-modal-close>X</button>  
</div> -->

</div>
