<div class="overlay" hidden data-modal>
  <div class="modal__card">
     <button class="modal__close" type="button" data-modal-close>
      <svg width="30px" height="30px"><use href="./images/svg-sprite.svg#close"></svg>
    </button>

    <!-- Розмітка модалки з фільмом -->
       <div class="modal__film-modal movie" >
        </div>

    <!-- Кінець розмітки модалки з фільмом -->
  </div>
  <div class="modal__team">
     <button class="modal__close" type="button" data-modal-close>
      <svg width="30px" height="30px"><use href="./images/svg-sprite.svg#close"></svg>
    </button>

    <!-- Розмітка модалки з командою -->
<div class="modal__container">
      <h2 class="modal__header">Cast</h2>
      <ul class="modal__list">
        <li class="modal__item">
          <a href="https://github.com/Milosska" class="modal__team-link" target="_blank"><img  class="modal__pic" srcset="./images/cast/lyudmulaLead@1x.jpg, ./images/cast/lyudmulaLead@2x.jpg 2x"  src="./images/cast/lyudmulaLead@1x.jpg" alt="Team Lead" width="100px"><span class="modal__name">Liudmyla</span>
          <p class="modal__role">Team Lead</p></a>
        </li>
        <li class="modal__item">
          <a href="https://github.com/Pibodee"  class="modal__team-link" target="_blank"><img  class="modal__pic" srcset="./images/cast/Bohdan@1x.jpg, ./images/cast/Bohdan@2x.jpg 2x"  src="./images/cast/Bohdan@1x.jpg" alt="Scrum Master" width="100px"><span class="modal__name">Bohdan</span>
          <p class="modal__role">Scrum Master</p></a>
        </li>
        <li class="modal__item">
          <a href="https://github.com/AlexGusl97"  class="modal__team-link" target="_blank"><img  class="modal__pic" srcset="./images/cast/alexandr@1x.jpg, ./images/cast/alexandr@2x.jpg 2x"  src="./images/cast/alexandr@1x.jpg" alt="Developer" width="100px"><span class="modal__name">Olexandr</span>
          <p class="modal__role">Developer</p></a>
        </li>
        <li class="modal__item">
          <a href="https://github.com/Yaroslav12002"  class="modal__team-link" target="_blank"><img  class="modal__pic"  src="./images/cast/Yaroslav@1x.jpg" alt="Developer" width="100px"><span class="modal__name">Yaroslav</span>
          <p class="modal__role">Developer</p></a>
        </li>
        <li class="modal__item">
          <a href="https://github.com/AlexeyVorobyov95"  class="modal__team-link" target="_blank"><img  class="modal__pic" srcset="./images/cast/Alex@1x.jpg, ./images/cast/Alex@2x.jpg 2x" src="./images/cast/Alex@1x.jpg" alt="Developer" width="100px"><span class="modal__name">Olexii</span>
          <p class="modal__role">Developer</p></a>
        </li>
        <li class="modal__item">
          <a href="https://github.com/TaniaShmigel"  class="modal__team-link" target="_blank"><img  class="modal__pic" srcset="./images/cast/Tetiana@1x.jpg, ./images/cast/Tetiana@2x.jpg 2x"  src="./images/cast/Tetiana@1x.jpg" alt="Developer" width="100px"><span class="modal__name">Tetiana</span>
          <p class="modal__role">Developer</p></a>
        </li>
        <li class="modal__item">
          <a href="https://github.com/ChornyiYevhenii" class="modal__team-link" target="_blank"><img  class="modal__pic" srcset="./images/cast/Evgen@1x.jpg, ./images/cast/Evgen@2x.jpg 2x"  src="./images/cast/Evgen@1x.jpg" alt="Developer" width="100px"><span class="modal__name">Evhenii</span>
          <p class="modal__role">Developer</p></a>
        </li>
        <li class="modal__item">
          <a href="https://github.com/Tatiana1910" class="modal__team-link" target="_blank"><img  class="modal__pic" srcset="./images/cast/Tania@1x.jpg, ./images/cast/Tania@2x.jpg 2x"  src="./images/cast/Tania@1x.jpg" alt="Developer" width="100px"><span class="modal__name">Tetiana</span>
          <p class="modal__role">Developer</p></a>
        </li>
        <li class="modal__item">
          <a href="https://github.com/Demianovq"  class="modal__team-link" target="_blank"><img  class="modal__pic" srcset="./images/cast/German@1x.jpg, ./images/cast/German@2x.jpg 2x"  src="./images/cast/German@1x.jpg" alt="Developer" width="100px"><span class="modal__name">Herman</span>
          <p class="modal__role">Developer</p></a>
        </li>
        <li class="modal__item">
          <a href="https://github.com/Olga-Melnyk"  class="modal__team-link" target="_blank"><img  class="modal__pic" srcset="./images/cast/Olya@1x.jpg, ./images/cast/Olya@2x.jpg 2x"  src="./images/cast/Olya@1x.jpg" alt="Developer" width="100px"><span class="modal__name">Olga</span>
          <p class="modal__role">Developer</p></a>
        </li>
        <li class="modal__item">
          <a href="https://github.com/IrynaVal" class="modal__team-link" target="_blank"><img  class="modal__pic" srcset="./images/cast/Irina@1x.jpg, ./images/cast/Irina@2x.jpg 2x"  src="./images/cast/Irina@1x.jpg" alt="Developer" width="100px"><span class="modal__name">Iruna</span>
          <p class="modal__role">Developer</p></a>
        </li>
        <li class="modal__item">
          <a href="https://github.com/Oleh202208"  class="modal__team-link" target="_blank"><img  class="modal__pic" srcset="./images/cast/Oleh@1x.jpg, ./images/cast/Oleh@2x.jpg 2x"  src="./images/cast/Oleh@1x.jpg" alt="Developer" width="100px"><span class="modal__name">Oleh</span>
          <p class="modal__role">Developer</p></a>
        </li>
        <li class="modal__item">
          <a href="https://github.com/Luidmyla007"  class="modal__team-link" target="_blank"><img  class="modal__pic" srcset="./images/cast/lyudmula@1x.jpg, ./images/cast/lyudmula@2x.jpg 2x"  src="./images/cast/lyudmula@1x.jpg" alt="Developer" width="100px"><span class="modal__name">Liudmyla</span>
          <p class="modal__role">Developer</p></a>
        </li> 
        <li class="modal__item">
          <a href="https://github.com/IvanSosnin1983"  class="modal__team-link" target="_blank"><img  class="modal__pic" srcset="./images/cast/Ivan@1x.jpg, ./images/cast/Ivan@2x.jpg 2x"  src="./images/cast/Ivan@1x.jpg" alt="Developer" width="100px"><span class="modal__name">Ivan</span>
          <p class="modal__role">Developer</p></a>
        </li>
      </ul>
    </div>
    <!-- Кінець розмітки модалки з командою -->
  </div>
</div>
