<!-- Люда Даценко та Тетяна Крамаренко -->
<div class="overlay" hidden data-modal>
  <div class="modal__card">
     <button class="modal__close" type="button" data-modal-close>
      <svg width="30px" height="30px"><use href="./images/svg-sprite.svg#close"></svg>
    </button>

    <!-- Розмітка модалки з фільмом - Алекс Гусляков -->
  <div class="modal__container">
    <div class="modal__wrapper">
      <div class="modal__image">
        <img class="modal__img" src="" alt="" width="396" height="478" />
      </div>
      <div class="modal__content">
        <h2 class="modal__title"></h2>
        <li class="modal__info">
          <h3 class="modal__title">Vote / Votes</h3>
          <p class="modal__content"><span class="modal__vote"></span> / </p>
        </li>
                <li class="film__info">
                    <h3 class="film__title">Popularity</h3>
                    <p class="film__content"></p>
                </li>
                <li class="film__info">
                    <h3 class="film__title">Original Title</h3>
                    <p class="film__content"></p>
                </li>
                <li class="film__info">
                    <h3 class="film__title">Genre</h3>
                    <p class="film__content"></p>
                </li>
        <h4 class="film__plot">About</h4>
        <p class="modal__overview" data-attr="overview"></p>
        <div class="button__row">
          <button type="button" class="modal-btn-watched"></button>
          <button type="button" class="modal-btn-queue"></button>
        </div>
      </div>
    </div>
  </div>

    <!-- Кінець розмітки модалки з фільмом -->
  </div>
  <div class="modal__team">
     <button class="modal__close" type="button" data-modal-close>
      <svg width="30px" height="30px"><use href="./images/svg-sprite.svg#close"></svg>
    </button>

    <!-- Розмітка модалки з командою - Богдан Сало -->

    <!-- Кінець розмітки модалки з командою -->
  </div>
</div>
