<div class="trailer__backdrop is-hidden" data-trailer>
  <div class="trailer__modal trailer-open">
    <button class="trailer__close" data-trailer-close>
      <svg class="trailer__close-button-svg" width="25px" height="25px">
        <use href="./images/svg-sprite.svg#close"></use>
      </svg>
    </button>
    <div class="trailer__wrapper wrapper__iframe">
      <iframe
        class="iframe"
        src="#"
        title="YouTube video player"
        allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
