.movie-card__item {
  @include media(max, tablet) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @include media(min, tablet) {
    width: 336px;
  }

  @include media(min, desktop) {
    width: 395px;
  }
}

// .movie-card__thumb {
//   position: relative;
// }

.movie-card__img {
  @include media(min, tablet) {
    width: 336px;
    height: 455px;
  }

  @include media(min, desktop) {
    width: 395px;
    height: 574px;
  }
}

.movie-card__title {
  padding-top: 8px;

  @include font-size(12px, 16px);
  font-weight: 500;
  color: var(--black);

  @include media(min, desktop) {
    @include font-size(20px, 24px);
  }
}

.movie-card__genre {
  margin-right: 8px;
}

.movie-card__year {
  margin: 0 8px;
}

.movie-card__text {
  padding-top: 5px;

  @include font-size(12px, 16px);
  font-weight: 500;
  color: var(--orange);

  @include media(min, desktop) {
    @include font-size(20px, 24px);
  }
}

.movie-card__vote_average {
  // @include flex(0);
  padding: 3px 12px;
  width: 36px;
  height: 20px;
  @include font-size(12px, 14px);
  color: var(--white);
  background-color: var(--orange);
  border-radius: 5px;
}
