.main__container {
  @extend %container;
}

.main__list {
  padding: 20px 0;

  @include media(min, tablet) {
    padding: 32px 0;
    @include flex(32px, flex-start, top);
    flex-wrap: wrap;
  }

  @include media(min, desktop) {
    @include flex(15px, flex-start, top);
  }
}
