// Люда Даценко та Тетяна Крамаренко
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.modal__card {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;

  width: 90vw;
  height: 90vh;
  padding: 48px 20px 40px 20px;
  background-color: var(--white);
  border: 1px solid var(--black);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translate(-50%, -50%);

  @include media(min, tablet) {
    width: 704px;
    height: 552px;
    // min-height: 552px;
    padding: 40px 72px 40px 36px;
  }

  @include media(min, desktop) {
    width: 806px;
    height: 558px;
    padding: 40px 12px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.modal__team {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;

  width: 90vw;
  height: 90vh;
  padding: 20px;

  background-color: var(--white);
  border: 1px solid var(--black);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

  transform: translate(-50%, -50%);

  @include media(min, tablet) {
    padding: 40px;
  }

  @include media(min, desktop) {
    padding: 40px;
  }
}

// Модалка з фільмами //
.content-hidden {
  overflow: hidden;
}

.modal-one-film {
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;

  .content-modal {
    z-index: 999;
  }
}

.modal-one-film.open {
  opacity: 1;
  pointer-events: initial;
  z-index: 998;
}

.modal-one-film.open .modal-one-film__content {
  transform: scale(1);
}

// Контент модалки

.movie__cont {
  padding: 48px 26px 41px 26px;
  width: 295px;

  @media screen and (min-width: 768px) {
    width: 620px;
    padding: 42px 28px 40px 28px;
    display: flex;
  }

  @media screen and (min-width: 1024px) {
    padding: 50px 30px 40px 30px;
    width: 882px;
  }
}
.movie__img {
  width: 240px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    min-width: 264px;
    margin-right: 32px;
  }

  @media screen and (min-width: 1024px) {
    min-width: 396px;
    margin-right: 30px;
  }
}
.movie__poster {
  width: 240px;
  height: 356.57px;
  object-fit: cover;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 373.55px;
  }

  @media screen and (min-width: 1024px) {
    width: 396px;
    height: 477.8px;
  }
}

.movie__text {
  width: 100%;
}

.movie__name {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: left;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.movie__info {
  display: flex;
  text-align: left;
}

.movie__title {
  width: 120px;
  height: 16px;
  left: 527px;
  top: 201px;
  text-align: left;
  margin-bottom: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
  p:not(:last-child) {
    margin-bottom: 10px;
  }
}

.movie__info {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .movie__genres {
    text-transform: none;
  }

  p:not(:last-child) {
    margin-bottom: 10px;
  }

  .number {
    display: inline-block;
    padding: 1px 10px;
    height: 17px;
    border-radius: 5px;
    text-align: center;

    &.votes {
      margin-left: 2px;
    }
  }
}
.movie__film-about {
  margin-top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
}

.movie__about {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: left;
  margin-top: 20px;
}

.movie__button-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 21px;

  @media screen and (min-width: 1024px) {
    justify-content: flex-start;
  }

  .movie__button {
    background: transparent;
    text-decoration: none;
    border: 1px solid;
    outline: 5px;
    height: 44px;
    width: 113px;
    border-radius: 5px;
    text-transform: uppercase;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      width: 125px;
    }

    @media screen and (min-width: 1024px) {
      width: 136px;
      margin-right: 15px;
    }
  }
}

.modal-container {
  background-color: #ccc;

  padding-top: 46px;
  height: 230px;
  max-width: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .modal-logo-text {
    display: flex;

    .modal-logo-nav {
      margin-left: auto;
      display: flex;
    }
  }

  .modal-logo-name {
    display: none;
  }
}

.close-modal-window {
  position: absolute;
  right: 100px;
  top: 90px;
  width: 14px;
  height: 14px;
  opacity: 0.5;
}
.close-modal-window:hover {
  opacity: 1;
}
.close-modal-window:before,
.close-modal-window:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 14px;
  width: 2px;
}
.close-modal-window:before {
  transform: rotate(45deg);
}
.close-modal-window:after {
  transform: rotate(-45deg);
}

// 

.modal__header {
  text-align: center;
  margin-bottom: 20px;
  @include font-size(30, 35);
}

.modal__list {
  display: flex;
  flex-wrap: wrap;
  @include flex(10px);
}

.modal__item {
  @include flex-basis(3, 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include media(min, tablet) {
    @include flex-basis(4, 10px);
  }
  @include media(min, desktop) {
    @include flex-basis(7, 10px);
  }
}

.modal__wrapper {
  width: 100px;
  height: 100px;
  background-color: var(--orange);
  margin-bottom: 5px;
}

.modal__name {
  @include font-size(14, 16);
  text-decoration: underline;
  color: var(--orange);
  @include media(min, tablet) {
    @include font-size(16, 19);
  }
}

.modal__role {
  @include font-size(14, 16);
  color: var(--dark-grey);
  @include media(min, tablet) {
    @include font-size(16, 19);
  }
}
