.header-library__container {
  position: relative;
}

.header__container {
  position: relative;
}

.themetoggle {
  position: absolute;
  top: 120px;
  right: 15px;
  color: var(--white);
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    top: 45px;
    right: 30px;
  }
}

.themetoggle__sun-button {
  width: 35px;
  height: 35px;
  fill: var(--white);

  // @media screen and (max-width: 767px) {
  //   width: 20px;
  //   height: 20px;
  // }

  &:hover {
    scale: 1.1;
  }
}

.main.dark {
  background-color: var(--dark-grey);
}

.movie-card__title.dark {
  color: var(--white);
}

.tui-page-btn.dark {
  color: var(--white);

  &:hover,
  &:focus {
    background-color: #1a1a1a;
  }
}

.clear-list.dark {
  color: var(--white);
}

.clear-list__link.dark {
  color: var(--white);
}
